@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

.intro {
  overflow: hidden;
  padding: 0px 10px;
  margin: 120px auto 60px auto;
  max-width: 1000px;

  .about-title {
    font-family: "Lora", serif;
    font-size: 30px;
    font-weight: 600;
  }

  .introContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .textbox {
      width: 600px;
      font-size: 16px;
      font-family: "Noto Sans", sans-serif;


      .answer {
        padding-top: 20px;
        line-height: 1.6;
        color: #393a3d;
      }

      a {
        font-weight: 600;
        color: #000;
      }
    }

    .graph {
      width: 400px;
      height: auto;
      padding-top: 20px;
    }
  }
}

@media only screen and (max-width: 600px) {
  .intro {
    display: flex;
    flex-direction: column;
    height: 800px;

    .textbox1 {
      margin: auto auto;
      width: 80%;
      padding-top: 20px;

      .title1 {
        font-size: 30px;
        font-weight: 600;
        padding: 20px 0px 20px 0px;
      }

      .answer1 {
        font-size: 16px;
        font-family: "Noto Sans", sans-serif;
      }
    }

    .textbox2 {
      margin: auto auto;
      width: 80%;
      padding-top: 0px;
      padding-bottom: 20px;

      .title2 {
        font-size: 30px;
        font-weight: 600;
        padding: 20px 0px 20px 0px;
      }

      .answer2 {
        font-size: 16px;
        font-family: "Noto Sans", sans-serif;
      }
    }
  }
}