@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

.join {
  height: 200px;
  overflow: hidden;
  padding: 0px 100px;
  margin: auto;
  max-width: 1000px;

  .join-context {
    .text {
      margin-top: 10px;

      .community {
        font-family: "Lora", serif;
        font-size: 30px;
        font-weight: 600;
        margin-top: 30px;
      }

      .contact {
        margin: 10px 0px 25px 0px;
        font-size: 18px;

        .email,
        .slack {
          font-family: "Noto Sans", sans-serif;
        }
      }
    }

    .footer {
      font-size: 14px;
      text-align: center;
      margin-bottom: 0px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
  }


  a {
    color: grey;
    font-family: "Noto Sans", sans-serif;
    text-decoration: none;
    font-size: 15px;
  }

  a:hover {
    text-decoration: underline;
  }

  a:active {
    color: black;
  }

}

@media only screen and (max-width: 600px) {
  .join {
    margin: auto;

    .context {
      margin-left: 10px;

      .community {
        margin-right: 0px;
      }
    }
  }
}