@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

.intro {
  height: 400px;
  background-color: rgb(200, 200, 200);
  display: flex;
  flex-direction: row;
  overflow: hidden;

  .textbox1 {
    margin-left: 100px;
    padding-top: 70px;
    width: 500px;

    .title1 {
      font-family: "Lora", serif;
      font-size: 30px;
      font-weight: 600;
      padding: 20px 0px 20px 0px;
    }

    .answer1 {
      font-size: 16px;
      font-family: "Noto Sans", sans-serif;
    }
  }

  .textbox2 {
    margin-left: 100px;
    padding-top: 70px;
    width: 550px;

    .title2 {
      font-family: "Lora", serif;
      font-size: 30px;
      font-weight: 600;
      padding: 20px 0px 20px 0px;
    }

    .answer2 {
      font-size: 16px;
      font-family: "Noto Sans", sans-serif;
    }
  }
}

@media only screen and (max-width: 600px) {
  .intro {
    display: flex;
    flex-direction: column;
    height: 800px;

    .textbox1 {
      margin: auto auto;
      width: 80%;
      padding-top: 20px;

      .title1 {
        font-size: 30px;
        font-weight: 600;
        padding: 20px 0px 20px 0px;
      }

      .answer1 {
        font-size: 16px;
        font-family: "Noto Sans", sans-serif;
      }
    }

    .textbox2 {
      margin: auto auto;
      width: 80%;
      padding-top: 0px;
      padding-bottom: 20px;

      .title2 {
        font-size: 30px;
        font-weight: 600;
        padding: 20px 0px 20px 0px;
      }

      .answer2 {
        font-size: 16px;
        font-family: "Noto Sans", sans-serif;
      }
    }
  }
}
