@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

.intro {
  height: 400px;
  background-color: cadetblue;

  .textbox {
    margin-left: 60px;
    padding-top: 40px;
    width: 500px;

    .title{
      font-family: "Lora", serif;
      font-size: 40px;
      font-weight: 600;
      padding: 20px 0px 20px 0px;
    }

    .answer{
    font-size: 20px;
    }
  }
}
