@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

.container {
  align-content: center;
  height: 600px;
  background-image: url("../images/image.jpg");
  background-size: cover;
  background-blend-mode: saturation;

  .content {
    position: absolute;
    top: 410px;
    left: 50%;
    transform: translateX(-50%) translateY(-60%);
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);

    .header {
      font-size: 50px;
      display: block;
      text-align: center;
      font-family: "Lora", serif;
      color: antiquewhite;
      font-weight: bold;
    }

    .sub-header {
      font-size: 15px;
      font-family: "Lora", serif;
      color: antiquewhite;
      display: block;
      margin: 10px auto;
      text-align: center;
    }
  }
}
