@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

.container {
  align-content: center;
  height: 90vh;
  background-image: url("../images/option3.jpg");
  background-size: cover;
  background-blend-mode: saturation;
  animation-duration: 1s;

  .typewritter {
    display: block;
    font-size: 55px;
    font-family: "Lora", serif;
    color: antiquewhite;
    font-weight: bold;
  }

  .content {
    position: absolute;
    top: 410px;
    text-align: left;
    left: 50%;
    transform: translateX(-50%) translateY(-60%);
    padding: 20px;

    .header {
      font-size: 30px;
      font-family: "Lora", serif;
      color: antiquewhite;
    }

    .sub-header {
      font-size: 15px;
      font-family: "Lora", serif;
      color: antiquewhite;
      display: block;
      margin: 10px auto;
      text-align: center;
    }
  }
}
