.header {
  overflow: hidden;
  max-width: 1000px;
  margin: auto;

  .nav {
    display: flex;
    justify-content: space-between;
    background-color: white;
    z-index: 2;
    padding: 20px 0px;

    .nav-lefttext {
      cursor: pointer;
      font-size: 18px;
      font-weight: 600;
      width: 150px;
    }

    .nav-righttext {
      cursor: pointer;
      font-size: 18px;
      width: 150px;
      margin-left: 20px;
    }

    a {
      text-decoration: none;
    }
  }
}