.nav {
  position: relative;
  background-color: white;
  z-index: 2;
  font-size: 20px;
  font-weight: 600px;
  cursor: pointer;

  .nav-text {
    cursor: pointer;
    width: 150px;
    padding: 30px 0px 30px 20px;
  }
  .nav-text:hover {
    background-color: #0d98ba;
    color: white;
    transition: 0.5s;
  }
}
