.newsletter {
  height: 750px;
  background-color: 000;
  overflow: hidden;
  padding: 0px 100px;
  margin: auto;
  max-width: 1000px;

  .news-title {
    font-family: "Lora", serif;
    font-size: 30px;
    font-weight: 600;
    margin-top: 30px;
  }

  .news-split {
    display: flex;
    justify-content: space-between;

    .news-text {
      padding-top: 30px;
      width: 700px;
      font-size: 18px;
      font-family: "Noto Sans", sans-serif;

      .news-title {
        font-family: "Lora", serif;
        font-size: 22px;
        font-weight: 500;
        margin-bottom: 20px;
      }
    }

    .newsbutton {
      margin: 30px 15px;
      text-align: center;
      display: inline-block;
      border-radius: 4px;
      background-color: #0d98ba;
      margin-top: 110px;
      border: none;
      color: #ffffff;
      font-size: 24px;
      padding: 15px;
      width: 300px;
      height: 40px;
      transition: all 0.5s;
      margin-left: 50px;
      cursor: pointer;
    }

    .newsbutton span {
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.5s;
    }

    .newsbutton span:after {
      content: "\00bb";
      position: absolute;
      opacity: 0;
      top: 0;
      right: -20px;
      transition: 0.5s;
    }

    .newsbutton:hover span {
      padding-right: 25px;
    }

    .newsbutton:hover span:after {
      opacity: 1;
      right: 0;
    }

    .meetup {
      align-items: center;
      width: 400px;
      margin-left: 50px;
      margin-top: 150px;
      display: inline-block;
    }
  }
}