.people {
  overflow: hidden;
  margin: 60px auto 60px auto;
  max-width: 1000px;

  .people-title {
    font-family: "Lora", serif;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
  }

  .stack {
    text-align: center;
    margin: 20px 0px 60px 0px;
    font-family: "Lora", serif;
  }

  .member-align {
    display: flex;
    justify-content: space-between;

    .people-text {
      color: #393a3d;
      width: 450px;
      font-size: 16px;
      padding-top: 10px;
      font-family: "Noto Sans", sans-serif;
      line-height: 1.6;
    }

    .member-graph {
      width: 500px;
      height: auto;
      margin-top: -50px;
      align-items: right;
    }
  }

  .people-subtitle {
    font-family: "Lora", serif;
    font-size: 22px;
    font-weight: 500;
    margin-top: 30px;
  }

  a {
    font-family: "Noto Sans", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #000;
  }
}