.people {
  height: 780px;
  // background-color: rgb(200, 200, 200);
  background-color: 000;
  overflow: hidden;
  padding: 0px 100px;
  margin: auto;
  max-width: 1200px;

  .people-title {
    font-family: "Lora", serif;
    font-size: 30px;
    font-weight: 600;
    margin: 30px 0px;
  }

  .stack {
    text-align: center;
    margin: 20px 0px 60px 0px;
    font-family: "Lora", serif;
  }

  .member-align {
    display: flex;
    justify-content: space-between;
    .people-text {
      width: 500px;
      font-size: 18px;
      padding-top: 10px;
      font-family: "Noto Sans", sans-serif;
    }

    .member-graph {
      width: 550px;
      height: auto;
      margin-top: -50px;
    }
  }

  .people-subtitle {
    font-family: "Lora", serif;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 20px;
  }

  a {
    font-family: "Noto Sans", sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #000;
  }
}
